html {
    position: relative;
    min-height: 100%;
  }

html body {
    /* Margin bottom by footer height */
    margin-bottom: 5rem;
} 

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 4rem; /* Vertically center the text there */
    text-align: center; 
    word-wrap: break-word;
  }

  .bg-gray-200{
    background-color: #e9ecef ;
  }
  .bg-gray-100{
    background-color: #f8f9fa ;
  }

  footer img {
    width:1.3rem;
  }

  @media (max-width: 600px) {
    footer img {
        width:1rem;
      }

    .footer{

        font-size: 0.75rem;
    }  
  }
  